:root {
  --darkGray: #222222;
  --lightGray: #2C2C2C;
  --lightestGray: rgba(255, 255, 255, 0.5);
  --red: #E31C25;
  --darkRed: #BB000E;
  --white: #FFFFFF;
  --black: #000000;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background-color: #000000;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
